<launch>
  <!-- Run the offboard position controller -->
  <node name="mode_test" pkg="comm_pipeline" type="mode_test_node" />

  <!-- Run MAVROS -->
  <include file="$(find mavros)/launch/apm.launch" pass_all_args="true">
    <arg name="fcu_url" default="udp://127.0.0.1:14551@14555" />
  </include>
</launch>